<div class="post">
    <div >
        <h2>
            <i class="material-icons">person</i>
            <%- post.user -%>
        </h2>
        <h4>
            <i class="material-icons" style="font-size:17px">access_time</i>
            Posted at: <%- post.postedAt -%>
        </h4>
    </div>
    <div >
            <p>
                <i class="material-icons" style="font-size:17px">format_quote</i>
                <%- post.message -%>
                <i class="material-icons" style="font-size:17px">format_quote</i>
            </p>
    </div>
</div>
