<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        background-color: lightskyblue;
      }
      section {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 100vh;
        flex-direction: column;
      }
      h1{
          font-size: 5rem;
          margin-bottom: 1px;
      }
      h3{
          font-size: 2rem;
          margin-top: 1px;
      }
      a{
          margin-top: 12.5%;
        font-size: 20px;
		padding: 12px;
		border: 1px solid;
		color: #000;
		background-color: transparent;
		text-decoration: none;
		transition: all 0.5s ease-in-out;
        }

		a:hover, a:active{
            color: #fff;
			background: #000;
        }
    </style>
  </head>
  <body>
      <section>
        <h1>404</h1>
        <h3>Page not found</h3>
        <a href="/">Return to main page</a>
      </section>
  </body>
</html>
