<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/navbar.css" />
    <link rel="stylesheet" type="text/css" href="/css/login_register.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <title>Register</title>
    <script type="text/javascript">
      let users;
       window.addEventListener('load', () => {
          users = <%- JSON.stringify(users) %>
      })
      function submitHandler(e){
              const newUser = document.getElementById('username').value;
              const newEmail = document.getElementById('email').value;
              const newPassword = document.getElementById('password').value;
              const emptyInput = newUser.trim().length === 0 || newEmail.trim().length === 0 || newPassword.trim().length === 0
              const shortPass = newPassword.trim().length < 6
              const validEmail = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(newEmail)
              if (emptyInput || shortPass || !validEmail){
                  window.alert("Input invalid");
              }
              else{
                    const verif = users.filter(({user, email, password}) => {
                        return user == newUser && email == newEmail && password == newPassword;
                    });
                    if(verif.length != 0){
                        window.alert("Exista deja utilizatorul");
                        window.location.replace("/login");
                    }
                    else{
                        const xhttp = new XMLHttpRequest();
                        xhttp.open('POST', `/register`, true);
                        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                        xhttp.send(`email=${newEmail}&password=${newPassword}&user=${newUser}`);
                        localStorage.setItem("isLogged", 1);
                        localStorage.setItem("user", newUser);
                        window.location.replace("/");
                    }
                }
              document.getElementById('username').value = "";
              document.getElementById('email').value = "";
              document.getElementById('password').value = "";
          }
    </script>
  </head>
  <body>
    <header>
      <div class="container">
        <div class="navbar">
          <ul id="nav-lists">
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
          </ul>
        </div>
      </div>
    </header>
    <main>
      <div class="wrapper">
        <div class="face face-front">
          <div class="content">
            <h2>Register</h2>
            <form onsubmit="event.preventDefault()">
              <div class="field-wrapper">
                <input
                  type="email"
                  id="email"
                  name="email"
                  placeholder="email"
                />
              </div>
              <div class="field-wrapper">
                <input
                  type="text"
                  id="username"
                  name="username"
                  placeholder="username"
                />
              </div>
              <div class="field-wrapper">
                <input
                  type="password"
                  id="password"
                  name="password"
                  placeholder="password"
                />
              </div>
              <div class="field-wrapper">
                <button type="submit" onclick="submitHandler()">Submit</button>
              </div>
              <span class="signup"
                >Already an user? <a href="/login">Login</a>
              </span>
            </form>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
